.btn-group-vertical button {
    background-color: lightblue; 
    border: 1px solid lightblue;
    color: white;
    padding: 24px 24px; 
    cursor: pointer; 
    width: 200%; 
    display: block;
  }
  
  .btn-group-vertical button:not(:last-child) {
    border-bottom: none; 
  }
  
  
  .btn-group-vertical button:hover {
    background-color:cornflowerblue;
  }
  .b-nav__wrap {
    background-color: #536dfe;
    height: 80px;
    font-family: 'Crete Round', serif;
}

#continue-nav {
    font-family: 'Crete Round', serif;
    background-color: #8c9eff;
}

#title {
    font-size: 30px;
}

.b-nav__link {
    color: white;
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
}
.b-nav__link2 {
    color: lightcyan;
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
}
.b-nav__link:hover {
    color: #c0cfff;
}

#continue-nav {
    font-size: 15px;
    margin-left: 50px;
}
.container{
  padding: 100px; 
  
}
h1{
    text-align: center;
}

* {
    box-sizing: border-box;
  }
  
  
  .column {
    float: left;
    width: 50%;
    padding: 10px;
  } 

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.whole{
    padding: 24px;
}
.bc{
    background-color: cornflowerblue;
}
